*
{
    margin: 0;
    padding: 0;
}

html, body {
    height: 98%;
    background: #0F172B;
    
    color: #FFFF;
    text-align: center;
    font-family: "Segoe UI", serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: 22.8px;
}

main {
    height: 98%;
    padding-left: 13%;
    padding-right: 13%;
    align-content: center;
}

p, h1 {
    margin-top: 12px;
    padding-right: 0;

    width: 100%;
}

footer {
    height: 2%;
    align-content: center;
    margin-left: 210px;
    margin-right: 210px;
}

.layout {
    display: flex;
    height: 100%;
    padding: 0 210px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #06f6b4;
}

form {
    padding-left: 0;
}